/* antony experiences */
.experiences {
    display: flex;
    width: calc(100vw - 1.2em);
    flex-direction: column;
    margin: .6em 0;

    border-radius: .8em;
    justify-content: center;
    align-items: center;
    background-color: var(--background-els);
    color: var(--text);

}

.experiences .header {
    padding: .6em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    border-bottom: .5em solid rgba(#3F0A59, .5);
}

.experiences .header h3 {
    color: var(--title);
    font-weight: bolder;
    font-size: 2.3em;
    font-family: 'Creepster', cursive;
}

.experiences .content {
    margin: .8em 0;
    width: 100vw;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 30% 70%;
}

.experiences .content .time:nth-child(1n) {
    margin-left: 50%;
}

.experiences .content .time:nth-last-child(2) {
    align-self: flex-start;
}


.experiences .content .data-experiences {
    text-align: start;
}

.experiences .content .data-experiences h4 {
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: underline;
}

.experiences .content .data-experiences i {
    text-decoration: wavy;
    font-weight: 200;
}

.experiences .content span.rounded {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--title);
    /* margin-top: 1.8rem; */

}

.experiences .content span.line {
    display: block;
    width: 2px;
    height: 90%;
    background-color: var(--title);
    transform: translate(7px, 0);
}