/* Julien formation */

.formation .header {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: .6em 0;
    text-align: center;
    
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    border-bottom: .5em solid rgba(#3F0A59, .5);
}

.formation .header>div {
    width: 50%;
}

h3 {

    color: var(--title);
    font-weight: bolder;
    font-size: 2.3em;
    font-family: 'Creepster', cursive;
}

.formation .header svg {
    width: 10vw;
    background-color: var(--background-els);
    border-radius: 50%;

}
.formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-els);
    color: var(--text);;


}
.diplome {
    color: var(--text);
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 50px;
}
.lieux{
    color: var(--text);
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 50px;
}
.date {
    color: var(--text);
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 50px;
}
.centre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2em;
    background-color: var(--background-els);

}
.tabulations{
    display: flex;
    flex-direction: row;
    padding: 100px;
}
/* goute de sange */

.drop {
    position: relative;
    width: 15px;
    height: 15px;
    top: -15px;
    margin: 0 auto;
    background: var(--title);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -webkit-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    left: 56px
}

.drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--title);
    top: -8px;
    left: 2px
}

@keyframes drip {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
        top: 100vh;
    }
}