/* HEADER (Alexis) */

.banner {
    width: 100vw;
    padding: 10px;
    background: url("../img/hauntedcastle.jpg") center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.banner img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--title);
}

h1,
h2 {
    font-family: "Creepster", cursive;
    letter-spacing: 2px;
}

h1 {
    color: var(--text);
    font-size: 3em;
    text-shadow: 2px 2px var(--title);
}

h2 {
    color: var(--title);
    text-align: center;
    max-width: 70vw;
    margin: 10px auto;
    font-size: 2em;
    line-height: 1.2em;
}

@media screen and (min-width: 769px) {

    .banner {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

}

/* // fin HEADER */