@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url(./css/experiences.css);
@import url(./css/formations.css);
@import url(./css/header.css);
@import url(./css/hobbies.css);
@import url(./css/contacts.css);

:root {
    --title: #C756B3;
    /* h2 - h3 - h4 */
    --background: #1C0C24;
    /* fond du body */
    --background-els: #3F0A59;
    /* fond des sections */
    --text: #DAD1D2;
    /* texte des sections et h1 */
    --typo-title: font-family: 'Creepster', cursive;
}

@media only screen and (min-width: 769px) {

    #container,
    #container-parcour {
        display: flex;
        flex-direction: row;
    }

    #container-parcour {
        width: 75%;
    }
}

}