@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url(./css/experiences.css);
@import url(./css/formations.css);
@import url(./css/header.css);
@import url(./css/hobbies.css);

:root {
    --title: #C756B3;
    /* h2 - h3 - h4 */
    --background: #1C0C24;
    /* fond du body */
    --background-els: #3F0A59;
    /* fond des sections */
    --text: #DAD1D2;
    /* texte des sections et h1 */
    --typo-title: font-family: 'Creepster', cursive;
}

/* reset des margin et padding des navigateurs */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* antony experiences */
.experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-els);
    color: var(--text);

}


.experiences h3 {}